<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OrtoCare</title>
    <link rel="icon" href="images/icone.jpg">
    <!-- Bootstrap CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet" >
    <link href="css/estilo.css" rel="stylesheet" >
  </head>

<body class="home">

<div class="container nav-container">
  <nav class="navbar navbar-expand-md navbar-dark">
    <a class="navbar-brand" href="/">
      <img src="images/logomm.png" alt="logo ortocare" id="nav-logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Página inicial <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Sobre nós</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Tratamentos
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Clínico Geral</a>
            <a class="dropdown-item" href="#">Ortodontia</a>
            <a class="dropdown-item" href="#">Implantodontia</a>
            <a class="dropdown-item" href="#">Harmonização Facial</a>
            <a class="dropdown-item" href="#">Odontopediatria</a>
            <a class="dropdown-item" href="#">Endodontia</a>
            <a class="dropdown-item" href="#">Estética</a>
            <a class="dropdown-item" href="#">Cirurgia Buco Maxilo Facial</a>
            <a class="dropdown-item" href="#">Prótese</a>
            <a class="dropdown-item" href="#">Periodontia</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contato</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Agendar consulta</a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<div class="cover">
  <div class="text-cover">
    <h1>Por causa do seu sorriso
    você torna a vida mais bonita.</h1>
    <a href="/agendar" class="btn btn-custom btn-azul btn-lg">Agendar Consulta</a>
  </div>
</div>

<!-- conteúdo -->
<section id="service">
  <div class="container">
    <div class="row">
      <!-- albúm -->
      <div class="col-sm-6">

        <div class="row albuns">
          <div class="col-md-6">
            <img src="images/clinica1.jpg" class="img-fluid">
          </div>
          <div class="col-md-6">
            <img src="images/clinica.jpg" class="img-fluid">
          </div>
        </div> <!-- fim row -->

        <div class="row albuns">
          <div class="col-md-6">
            <img src="images/drLisiane.jpg" class="img-fluid">
            <h3>Dra. Lisiane Lima</h3>
            <p>CRO-PE 10702</p>
          </div>
          <div class="col-md-6">
            <img src="images/drRhaquel.jpg" class="img-fluid">
            <h3>Dra. Rhaquel Campêlo</h3>
            <p>CRO-PE 11453</p>
          </div>
        </div> <!-- fim row -->
      </div>

      <!-- serviços -->
      <div class="col-sm-6">
        <h2>OrtoCare - Clínica especializada</h2>
        <h3>A clínica</h3>
        <p>Atendemos em um consultório com ambiente aconchegante, proporcionando um melhor acolhimento dos pacientes. Nosso objetivo é viabilizar o melhor tratamento para cada paciente. Proporcionamos o tratamento odontológico a toda população de forma acessível e justa, tornando a ida ao dentista não uma obrigação e sim parte do cotidiano.</p>
        <p>A clínica <b>OrtoCare</b> é constituída por profissionais médicos altamente capacitados, com formação e especialização na área da ortopedia e traumatologia. Desde a recepção até as salas de atendimento.</p> 
        <h3>Corpo Clínico</h3>
        <p>Todos os profissionais são experientes, com anos de experiência na odontologia. Todos qualificados para realizar o seu tratamento da melhor maneira </p>
      </div>

    </div>
  </div>
</section>

<section id="testimony">
<div class="container">
  <div class="row">

    <!-- depoimentos -->
    <div class="col-sm-12">
      <div class="row">
        <h2>Veja os depoimentos dos nossos clientes</h2>
        <div class="col-md-4">
          <img src="images/dep1.jpg" class="img-fluid">
        </div>
        <div class="col-md-4">
          <img src="images/dep2.jpg" class="img-fluid">
        </div>
        <div class="col-md-4">
          <img src="images/dep3.jpg" class="img-fluid">
        </div> 
      </div><!-- fim row -->
    </div>

  </div>
</section>
  
 <!-- rodape -->
<footer id="rodape">
<div class="container">
<div class="row">

<div class="col-md-2">
<span class="img-logo">OdontoCare</span>
</div>
<div class="col-md-2">
<h4>Responsável Técnico</h4>
<ul class="nav">
<li><a href="#">Dra Lisiane Lima CRO-PE 10792</a></li>
</ul>
</div>
<div class="col-md-2">
<h4>Contato</h4>
<ul class="nav">
<li class="contact"><a href="#">(81) 3274 0175</a></li>
<img class="fone img-fluid" src="images/fone.png">
<li class="contact"><a href="#">(81) 8626 9977</a></li>
<img class="whatsapp img-fluid" src="images/whatsapp.png">
</ul>
</div>
<div class="col-md-2">
<h4>Atendimento</h4>
<ul class="nav">
<li><a href="#">Segunda - Sexta: 08h às 18h</a></li>
</ul>
</div>
<div class="col-md-4">
<ul class="nav">
<li class="social-network"><a href="#"><img src="images/facebook.png" class="img-fluid"></a></li>
<li class="social-network"><a href="#"><img src="images/twitter.png" class="img-fluid"></a></li>
<li class="social-network"><a href="#"><img src="images/instagram.png" class="img-fluid"></a></li>
</div>
</div><!-- fim da row -->
</div>
</footer>
  
  <script src="js/jquery-3.4.1.slim.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
     
</body>

</html>